@media(min-width:1083px){
    body{
        font-size: 30px;
    }

    h1{
        font-size: 45px;
    }
    h3{
        font-size: 35px;
    }
    h2{
        font-size: 40px;
    }
    footer{
        font-size: 30px;
    }
    nav{
        text-align: center;
        font-size: 50px;
    }

    #chamberlogo{
        max-width: 400px;
    }
    .navigation {
        display: flex;
        
    }
    .navigation li:first-child{
        display: none;
    }
    .navigation li{
        display: block;
        flex: 1 1 100%
    }

}