body {
  font-size: 16px;
  font-family: "Inter Tight", sans-serif;
  color: #a5a5a5;
  height: 100%;
  line-height: 1.5;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  border: 3px;
  border-style: solid;
  border-color: #000;
  gap: 10px;
  margin: 2%;
  padding: 2%;
}

main div {
  border: 3px;
  border-style: solid;
  border-color: #000;
}

#spotlightsection {
  padding: 2%;
}

#spotlight3{
  display: none;
}
#joining {
  display: none;
}

#chamberlogo {
  max-width: 50px;
  margin: 1rem .5rem;
  grid-column: 1/2;
}

#navbox{
    grid-column: 4/5;
}

h1 {
  font-size: 1.25rem;
  margin: 0.15rem;
}

h2 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  background-color: #033b4f;
  color: #ffff;
  font-family: "Oswald", sans-serif;
}

h1,
h3 {
  color: #000;
  font-family: "Oswald", sans-serif;
}

header,
nav,
main,
footer {
  margin: 0 auto;
  padding: 0.75rem;
  font-family: "Oswald", sans-serif;
}

nav {
  display: block;
  height: auto;
  flex-direction: column;
}
nav a {
  display: block;
  padding: 15px;
  color: #ffff;
  text-decoration: none;
}

.navigation li {
  display: none;
}
.navigation li:first-child {
  display: block;
}

.responsive li {
  display: block;
}

#grid{
  display: grid;
  grid-template-columns: 66px auto auto auto;
  grid-template-rows: 1fr auto;
}
#city {
  font-size: 1rem;
  margin: 0;
  text-align: left;
}
#chamber {
  font-size: 0.75rem;
  margin:0;
  text-align: left;
}
#title {
  flex-direction: column;
  align-self: center;
  grid-column: 2/3;
}
#title h1{
  color:#ffff
}

#todaysdate{
    grid-column: 1/ span 4;
    grid-row: 2/3;
}

#social-media{
    grid-column: 2/3;
    display: block;
    align-items: center;
    margin-left:auto ;
}

#facebook,#linkedin{
    margin:0;
    min-width: 40px;
    max-width: 50px;
}

section {
  text-align: center;
}

header,
footer {
  text-align: center;
  background-color: #055153;
  color: white;
}

footer a{
  color:#ffff
}

header img {
  width: 200px;

  height: auto;
}
#name {
  text-align: right;
}
.obs {
  color: #6c8e99;
}

ul {
  list-style-type: none;
}

footer {
  font-size: 1rem;
  max-height: fit-content;
}

#footer-imgs, img{
  max-width:  100px;
}


